/* * {
    margin: 0;
    padding: 1;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
    text-wrap: wrap;
} */

html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, rgb(44, 175, 127, 0), rgb(44, 175, 127, 1)) no-repeat;
    background-size: cover;
}

.profile-picture {
    position: relative;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 40px;
    border: 2px solid rgb(27, 31, 35);
    z-index: 2;
}

.about:hover {
    text-decoration: underline;
}

.skills-heading:hover {
    text-decoration: underline;
}

.education-heading:hover {
    text-decoration: underline;
}

.languages-heading:hover {
    text-decoration: underline;
}

.experience-heading:hover {
    text-decoration: underline;
}

.achivements-header:hover {
    text-decoration: underline;
}

.info-heading:hover {
    text-decoration: underline;
}

.name {
    font-weight: bolder;
}

.container {
    border-radius: 15px;
    background: rgb(44, 175, 127, 1);
    margin: 10px;
    min-width: 200px;
    padding: 15px;
    box-shadow: 5px 5px 5px rgba(27, 31, 35, 0.8);
}