.header {
    height: 300px;
    border-radius: 10px;
    background-color: beige;
    margin: 10px;
}

.profile-picture {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 20px;
    margin-left: 15px;
    border: 2px solid black;
  }
  
  .background-image {
      background: url(https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/5%20Best%20Coding%20Programs%20for%20Aspiring%20Programmers1650304687858345.jpg);
  border-radius: 10px 10px 0 0;
  height: 100px;
margin-bottom: 25px;
}

.name {
    color: black;
    margin-left: 15px;
}

.skills {
    color: black;
    font-size: small;
}